.homeDiv
{
    float:left;
   
    width : 25% ;
    height : 100%;
    padding : 5px;
}

.homeDiv1
{
   
    width :50% ;
    float:left;
    height : 100%;
    padding : 5px; 
}

.homepage
{
    background-color: rgb(42, 240, 148);
}

table,tr,td{
    border: none;
}

.homeDiv2
{
    border: 1px;
   
    float:left;
    height : 100%;
    width : 25% ;
    padding : 5px;
}

 .form { 
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 165px auto 160px;
    border : 75%;
    padding: 50px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
} 
  
.form input {
     box-sizing: border-box;
     font-family: 'sans-serif';
    font-size: 15px;
  }

.signup-page {
    background-color: rgb(42, 240, 148);
    height: 200%;
    margin: auto;
  }


  .form button {
    font-family:  sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 10;
    padding: 15px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    cursor: pointer;
  }

  .form button:hover,.form button:active,.form button:focus {
    background: rgb(42, 240, 148);
  }
  


.sentrequests
{
    margin-top: 50%;
}

#wallDiv
{
     background-color: #10729C;
     color: white;
}

.friendslist
{
    width : 100%;
    padding : 10px;
    float : right;
}


.connectButton
{
    width : 100%;
}

.buttonclass
{
    float:right;
    margin-top: 3%;
}

.walle
{
    padding-left: 100px;
}

.timelinee
{
    padding-left: 100px;
}

.namee
{
    padding-left: 175px;
}

.dp
{
    padding-left: 30px;
    padding-right: 150px;
}


.timeline
{
    width:75%;
    margin-left: 10%;
}

.profile
{
    width : 25%;
    padding : 20px;
    float : right;
}

.wall
{
    width : 75%;
    float : left;
    padding :15px;
}

.timelinepost
{
    font-size : 20px;
}

.postcontent
{
    width : 100%;
}
.searchbutton
{
    float: inherit ;
    margin-left: 40%;
    margin-top: 3%;
}

.search
{
    margin-top: 15%;   
}   

.homee
{
    position: absolute;
}


.mail{
    margin-left: 26px;
    padding-bottom: 10px;
}

.homePage
{
    background: url(../components/pictures/bg.jpeg);
    background-size : cover;
    background-position: center 10%;
    background-color:beige;
}

.icon
{
    float : left;
    margin-top: 1%;
    margin-left: 1%;
}

.thumbs
{
    float: left;
}

.thumbs:hover{
    cursor: pointer;
    font-size: 25px;
}

.show
{
    block-size: 10%;
    font-size: "25px";
}

.show:hover ul.list-likers{
    max-height: inherit;
    cursor: pointer;
    opacity: 1;
    }
  
  .list-likers{
    list-style-type: none;
    cursor: pointer;    
    padding: 0px;
    margin: 0px;
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: opacity 300ms ease;
  }